::-webkit-scrollbar {
    height: 0;
}

/* .categoryListTest {
    width: calc(100% - 34px);
    margin: 18px auto 0;
    border-radius: 20px;
} */

.categoryList {
    display: grid;
    width: auto;
    margin: 24px 16px;
    border-radius: 20px;
}

.categoryList .ant-card-body {
    display: flex;
    overflow-x: auto;
}

.categoryList .ant-card-meta-avatar {
    padding-right: 0;
}

.category {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    cursor: pointer;
}

.categoryIcon {
    margin-bottom: 8px;
}

.category:hover .categoryIcon {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
    transition: box-shadow 0.3s, border-color 0.3s;
}

/* .ant-card.ant-card-bordered.ant-card-contain-grid .ant-card-body {
    display: -webkit-inline-box;
    overflow-x: scroll;
} */

.ant-card-grid.ant-card-grid-hoverable {
    padding: 10px;
}