.ant-layout-sider-children {
    display: flex;
}

.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
    width: 80px;
}

.ant-layout-sider-trigger {
    width: 170px !important;
}

.ant-layout-sider-has-trigger {
    display: contents;
}

.ant-layout-sider-collapsed .ant-layout-sider-trigger {
    width: 79px !important;
}

.ant-menu-inline {
    width: auto;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px;
}
  
.logo {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}

.downloadAppBtn {
    display: block;
    margin: 10px auto;
}

@media only screen and (max-width: 320px) {
    .downloadAppBtn {
        display: none;
    }
}