.ant-card-meta-title {
    white-space: normal;
}
.primary-btn {
    color: #1da1f2;
    background: linear-gradient(0deg,#e9f7fe,#e9f7fe);
    border-color: #1da1f2;
}

.ant-btn-dangerous {
    color: #f93d4b;
    background: linear-gradient(0deg,#fbf0f3,#fbf0f3);
    border-color: #f93d4b;
}

.tradeActions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0 0;
}

.tradeAction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tradeFill {
    font-weight: bold;
    background: linear-gradient(0deg,#e9f7fe,#e9f7fe);
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 20px;
    padding-left: 10px;
    margin-right: 10px;
}

.tradeDangerFill {
    background: linear-gradient(0deg,#fbf0f3,#fbf0f3);
    width: 100%;
}

.ant-avatar {
    width: 60px;
    height: 60px;
}

.tradeDrawer .ant-drawer-content-wrapper {
    height: 550px !important;
}

.ant-drawer-content {
    border-radius: 20px 20px 0 0;
}

.tradeSubmissionDrawer {
    font-size: 20px;
    text-align: center;
}

.tradeInput {
    width: 90%;
    margin: 15px auto 10px;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
}

.sliderText {
    position: absolute;
    top: -14px;
    font-size: 16px;
    line-height: 1;
    left: 0;
}

.priceText {
    top: 30px;
}

.ant-input-number {
    width: 60px;
}

.tradeDrawerFooter {
    background: #eee;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0;
}

@media only screen and (max-width: 575px) {
    .ant-card-meta {
        display: flex;
        flex-direction: column;
    }
    
    .ant-card-meta-avatar {
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
    }

    .tradeActions {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .tradeFill {
        display: none;
    }
}