.tradeList {
    width: auto;
    margin: 24px 16px;
    border-radius: 20px;
}
  
.site-layout .site-layout-background {
    background: #fbfeff;
}

.ant-card-hoverable {
    cursor: default;
}

.howToTrade .ant-drawer-content-wrapper {
    height: 100vh !important;
}